In [11]:
import numpy as np
import pandas as pd
import warnings

In [3]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Collecting scikit-learn>=0.20.0
  Downloading scikit_learn-0.24.2-cp39-cp39-win_amd64.whl (6.9 MB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.6.3)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.12.2-cp39-none-win_amd64.whl (9.4 MB)
Requirement already satisfied: pandas>=0.21.1 in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.2.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Installing collected packages: threadpoolctl, patsy, joblib, statsmodels, scikit-learn, category-encoders
Successfully installed category-encoders-2.2.2 joblib-1.0.1 patsy-0.5.1 scikit-learn-0.24.2 statsmodels-0.12.2 threadpoolctl-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import category_encoders as ce

In [8]:
train_df = pd.DataFrame({'Degree': ['Masters', 'PHD', 'High School', 'Diploma', 'Masters', 'Bachelors', 'High School', 'PHD', 'Bachelors', 'Diploma']})
#train_df

# create object of ordinal encoding
encoder = ce.OrdinalEncoder(cols=['Degree'], return_df=True, mapping = [
        {'col': 'Degree', 'mapping': {None: 0, 'High School': 1, 'Diploma': 2,  'Bachelors': 3,  'Masters': 4,  'PHD': 5}},
        ])

#Original data
train_df

        Degree
0      Masters
1          PHD
2  High School
3      Diploma
4      Masters
5    Bachelors
6  High School
7          PHD
8    Bachelors
9      Diploma

In [12]:
#fit the transform train data
df_train_transformed = encoder.fit_transform(train_df)
df_train_transformed

c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   Degree
0       4
1       5
2       1
3       2
4       4
5       3
6       1
7       5
8       3
9       2

# one hot coding

In [13]:
import pandas as pd
import category_encoders as ce

In [16]:
data = pd.DataFrame({'Colors': ['red', 'yellow', 'green', 'blue','red', 'yellow', 'green', 'blue']})


#create object for one hot encoding
encoder = ce.OneHotEncoder(cols= 'Colors', handle_unknown= 'return_nan', return_df=True, use_cat_names=True)


# original data
data

   Colors
0     red
1  yellow
2   green
3    blue
4     red
5  yellow
6   green
7    blue

In [18]:
#fit transform train data
data_transformed = encoder.fit_transform(data)
data_transformed

c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   Colors_red  Colors_yellow  Colors_green  Colors_blue
0         1.0            0.0           0.0          0.0
1         0.0            1.0           0.0          0.0
2         0.0            0.0           1.0          0.0
3         0.0            0.0           0.0          1.0
4         1.0            0.0           0.0          0.0
5         0.0            1.0           0.0          0.0
6         0.0            0.0           1.0          0.0
7         0.0            0.0           0.0          1.0

# Dummy encoding

In [19]:
data_transformed = pd.get_dummies(data = data, drop_first=True)
data_transformed

   Colors_green  Colors_red  Colors_yellow
0             0           1              0
1             0           0              1
2             1           0              0
3             0           0              0
4             0           1              0
5             0           0              1
6             1           0              0
7             0           0              0

# Effect encoding

In [21]:
encoder = ce.sum_coding.SumEncoder(cols='Colors')
encoder.fit_transform(data)

c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   intercept  Colors_0  Colors_1  Colors_2
0          1       1.0       0.0       0.0
1          1       0.0       1.0       0.0
2          1       0.0       0.0       1.0
3          1      -1.0      -1.0      -1.0
4          1       1.0       0.0       0.0
5          1       0.0       1.0       0.0
6          1       0.0       0.0       1.0
7          1      -1.0      -1.0      -1.0

# Hashing Encoding

In [22]:
#create object for hash encoder
encoder = ce.HashingEncoder(cols='Colors', n_components=6)

In [23]:
#fit and transform the data
encoder.fit_transform(data)

   col_0  col_1  col_2  col_3  col_4  col_5
0      0      0      0      0      1      0
1      0      0      0      1      0      0
2      0      0      1      0      0      0
3      0      0      0      1      0      0
4      0      0      0      0      1      0
5      0      0      0      1      0      0
6      0      0      1      0      0      0
7      0      0      0      1      0      0

# Binary Encoding

In [24]:
#create object for binary encoding
encoder = ce.BinaryEncoder(cols='Colors', return_df=True)

In [26]:
#fit and transform the data
encoder.fit_transform(data)

c:\users\rushikesh\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   Colors_0  Colors_1  Colors_2
0         0         0         1
1         0         1         0
2         0         1         1
3         1         0         0
4         0         0         1
5         0         1         0
6         0         1         1
7         1         0         0

# Target Encoding

In [27]:
 #import the library
import numpy as np
import pandas as pd
import category_encoders as ce

In [35]:
#create the data frame
data2 = pd.DataFrame({'class':['A','B','C','D','E','F','G','H','I','J'],'marks':[50,20,40,32,34,89,12,45,56,76]})

data2

  class  marks
0     A     50
1     B     20
2     C     40
3     D     32
4     E     34
5     F     89
6     G     12
7     H     45
8     I     56
9     J     76

In [37]:
#Create target encoding object
encoder2 = ce.TargetEncoder(cols='class')

In [39]:
#fit and transform the data
data_trnasformed = encoder2.fit_transform(data2)

TypeError: fit_transform() missing argument: y